@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --page-padding: 16px;
    --section-gap: 32px;
    --value: 70%;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lora';
    background: #ffffff;
}

header {
    position: fixed;
    top: 32px;
    z-index: 2;
    width: 100vw;
    padding: 0 16px;
    transition: .5s ease-in transform;
}

header.hidden {
    transform: translateY(-96px);
}

.start-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 24px;
}

section {
    padding: 96px var(--page-padding) 0 var(--page-padding);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: clip;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
    transition: .5s ease-in-out;
    transition-property: opacity, transform;
    background-color: white;
}

section.active {
    pointer-events: all;
    transform: translateX(0);
    opacity: 1;
}

section.hidden {
    transform: translateX(-100%);
}

.page-content {
    width: 100vw;
    max-width: 900px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow-x: clip;
}

.start-section {
    background: #F2BED9;
    padding: 0 var(--page-padding);
}

.app-icon {
    display: flex;
    background-color: #3B51C6;
    border-radius: 8px;
    padding: 4px;
}

.progress-bar {
    display: flex;
}

.progress-bar.long {
    margin: 56px 0 0 0;
}

.progress-bar.long .item div {
    width: 100%;
}

.progress-bar.long .item {
    width: 100%;
}

.progress-bar .item {
    background: none;
    cursor: pointer;
    padding: 3px 2px;
    border: 0;
}

.progress-bar .item div {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    height: 4px;
    width: 120px;
    border-radius: 100px;
    overflow: clip;
    padding: 0;
    transition: .3s width ease-out;
}

.progress-bar .item span {
    background-color: #3B51C6;
    height: 100%;
    width: var(--value);
    display: block;
    animation-name: ItemProgress;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    padding: 0;
}

/* @keyframes ItemProgress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
} */

.skip {
    color: #3B51C6;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.start-slides {
    position: relative;
    display: flex;
    flex-direction: column;
}

.start-section_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease-out opacity;
    position: absolute;
}

.start-section_content.active {
    opacity: 1;
    pointer-events: all;
}

.section-title {
    font-weight: 800;
    font-size: 30px;
    margin-top: var(--section-gap);
}

.start-section-buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: var(--section-gap);
    position: fixed;
    bottom: 0;
    width: calc(100vw - 32px);
}

.section-button {
    width: 100%;
    border-radius: 24px;
    padding: 12px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Lora';
    cursor: pointer;
    white-space: nowrap;
}

.section-button.blue {
    background-color: #3B51C6;
    color: #ffffff;
}

.section-button.white {
    background-color: #ffffff;
    color: #3B51C6;
}

.main-photo {
    position: fixed;
}

.main-photo.slide1 {
    width: 400px;
    top: 30%;
    transform: rotate(-60deg);
}

.main-photo.slide2 {
    width: 320px;
    top: 30%;
}

.main-photo.slide3 {
    width: 500px;
    transform: rotate(-30deg);
    top: 45%;
}

.round-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 8px;
    background-color: inherit;
    border: 2px solid #EAEBED;
    cursor: pointer;
}

.round-button.right {
    right: var(--page-padding);
}

.round-button svg {
    width: 18px;
    height: 18px;
}

.input-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container span {
    font-weight: 600;
    font-size: 14px;
}

.input-container input {
    background-color: #EAEBED;
    border: none;
    padding: 12px 10px;
    border-radius: 8px;
    margin-top: 4px;
    font-size: 14px;
    font-family: 'Lora';
}

.sign-up-requests {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sign-up-requests span {
    display: flex;
    align-items: center;
    gap: 4px;
}

.sign-up-requests span svg {
    width: 16px;
    height: 16px;
    fill: #7CBA8B;
}

.sign-up-requests span p {
    color: #4F5662;
    font-size: 14px;
}

.commitment {
    margin-top: 16px;
    font-size: 12px;
    color: #4F5662;
}

.commitment a {
    text-decoration: none;
    color: #3B51C6;
    font-weight: 600;
}

.sign-up-section .section-title {
    margin-top: 24px;
}

.section-content .section-button,
.section-content .section-buttons {
    margin-top: auto;
}

.section-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}

.section-description {
    font-size: 14px;
    color: #4F5662;
}

.input-code-container span {
    font-size: 14px;
    color: #4F5662;
    font-weight: 600;
}

.input-code,
.input-passcode {
    margin-top: 8px;
    display: flex;
    max-width: 350px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.input-code input {
    width: 50px;
    aspect-ratio: 1/1;
    background-color: #EAEBED;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-family: 'Lora';
    font-weight: 800;
    font-size: 16px;
}

.resend-code {
    color: #3B51C6;
    font-size: 14px;
    font-weight: 600;
    margin: 0 auto;
    cursor: pointer;
}

/* .section.enter-code .commitment {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    line-height: 1.4;
} */

.section.enter-code .commitment {
    display: flex;
    align-items: flex-start;
    line-height: 1.4;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.commitment input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 4px;
}

.commitment:hover input~.checkmark {
    background-color: #ccc;
}

.commitment input:checked~.checkmark {
    background-color: #3B51C6;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.commitment input:checked~.checkmark:after {
    display: block;
}

.commitment .checkmark:after {
    left: 6px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.round-button.left {
    left: var(--page-padding);
}

.lock {
    margin: 0 auto;
    transform: rotate(-10deg);
}

.input-passcode input {
    width: 80px;
    height: 42px;
    background-color: #EAEBED;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-family: 'Lora';
    font-weight: 800;
}

.passcode-keyboard {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    padding-bottom: var(--section-gap);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    /* gap: 40px; */
    margin-top: 24px;
}

.passcode-keyboard button div {
    border: none;
    border-bottom: 2px solid #f4f4f4;
    background-color: #ffffff;
    width: 60px;
    height: 30px;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Lora';
    cursor: pointer;
}

.passcode-keyboard button {
    background: none;
    cursor: pointer;
    padding: 16px 24px;
    border: 0;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3;
}

.zero-button {
    grid-column: 2;
}

.documents-container {
    display: flex;
    flex-direction: column;
    border: 2px solid #EAEBED;
    border-radius: 8px;
    padding: 16px;
    gap: 16px;
    cursor: pointer;
}

.document-row,
.document-title {
    display: flex;
    align-items: center;
}

.document-row {
    justify-content: space-between;
}

.documents-container hr {
    border: 1px solid #EAEBED;
    width: 100%;
}

.document-img {
    width: 40px;
    height: 40px;
    fill: #3B51C6;
}

.next-button {
    width: 20px;
    height: 20px;
}

.document-title {
    gap: 8px;
}

.document-title span {
    font-size: 16px;
    font-weight: 600;
}

.country-flag {
    width: 200px;
    aspect-ratio: 1/1;
    margin: 32px auto;
}

.cashback-container {
    position: relative;
    width: 100%;
    height: 280px;
    padding: 8px;
    display: flex;
    justify-content: center;
}

.cashback-container img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.cashback-text {
    position: relative;
    background-color: #ffffff;
    margin-top: auto;
    border-radius: 16px;
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cashback-text h3 {
    font-size: 16px;
}

.cashback-text p {
    color: #4F5662;
    font-size: 14px;
}

.progress-bar-cashback {
    display: flex;
    margin: 4px auto 0 auto;
}

.progress-bar-cashback .item {
    background: none;
    cursor: pointer;
    padding: 3px 2px;
    border: 0;
}

.progress-bar-cashback .item div {
    background-color: #CACFD6;
    border: 0.5px solid rgba(255, 255, 255, 0);
    height: 8px;
    width: 8px;
    border-radius: 100px;
    overflow: clip;
    padding: 0;
    transition: .3s height ease-out;
}


.progress-bar-cashback .item.selected div {
    height: 16px;
}

.progress-bar-cashback .item.selected span {
    background-color: #3B51C6;
    height: 0;
    width: 100%;
    display: block;
    animation-name: PillProgress;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    padding: 0;
}

@keyframes PillProgress {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}

.section-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: fixed;
    bottom: 0;
    width: calc(100vw - 32px);
    padding-bottom: var(--page-padding);
}

.select-countries-header {
    display: flex;
    justify-content: space-between;
}

.select-countries-ovelay {
    opacity: 0;
    transition: opacity .5s ease-out;
    pointer-events: all;
}

.select-countries-overlay.active {
    background: rgba(0, 0, 0, 0.2);
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    pointer-events: none;
}

.select-countries {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: clip;
    top: 112px;
    left: 0;
    padding: var(--page-padding);
    pointer-events: none;
    background-color: white;
    position: fixed;
    opacity: 0;
    transform: translateY(100%);
    transition: .5s ease-in-out;
    transition-property: opacity, transform;
    overflow-y: auto;
    height: calc(100vh - 112px);
}

.select-countries.active {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}

.select-countries_hr {
    margin: 24px -16px 0 -16px;
    border: 2px solid #EAEBED;
}

.country {
    font-weight: 800;
    font-size: 16px;
    margin-left: auto;
    margin-top: 8px;
}

.search-input {
    width: 100%;
    margin-top: 16px;
    padding: 12px 8px;
    border-radius: 8px;
    border: none;
    background-color: #edeef2;
    font-family: 'Lora';
    color: #4F5662;
}

.countries-list {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 8px;
}

.country-icon img,
.change-country img {
    width: 32px;
    aspect-ratio: 1/1;
}

.select-country {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.country-input {
    display: flex;
    align-items: center;
}

.input-tel {
    width: 100%;
}

.change-country {
    padding: 8px;
    border: none;
    background: none;
    cursor: pointer;
}

.change-country div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
}

.phone-code {
    font-size: 16px;
    font-weight: 600;
    color: #3B51C6;
}

.country-name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.countries-list hr {
    margin-top: 0;
    border: 1px solid #EAEBED;
}

.country-icon {
    background-color: #edeef2;
    padding: 8px;
    display: flex;
    border-radius: 8px;
    border: none;
}

.country-name span {
    font-weight: 600;
    font-size: 14px;
}

.choose-plan_header {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choose-plan_header h3 {
    font-size: 16px;
}

.choose-plan_header span {
    color: #3B51C6;
    font-size: 14px;
    font-weight: 600;
}

.choose-plan_buttons {
    display: flex;
    margin-top: 24px;
    justify-content: center;
    padding: 2px;
    border-radius: 6px;
    background-color: #edeef2;
}

.choose-plan-button.active {
    background-color: #ffffff;
    font-weight: 800;
    color: #000000;
    border-radius: 6px;
}

.choose-plan-button {
    width: 50%;
    border: none;
    color: #4F5662;
    font-family: 'Lora';
    font-weight: 600;
    font-size: 14px;
    padding: 4px;
    cursor: pointer;
    background: none;
}

.choose-plan img {
    margin: 16px -16px 0 -16px;
    height: 280px;
    object-fit: cover;
}

.top-offers {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    margin: 0 -16px;
    padding: 16px;
}

.top-offers_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.top-offers_header span {
    color: #3B51C6;
    font-size: 16px;
    font-weight: 800;
}

.top-offers hr {
    margin: 0 -16px 16px -16px;
    border: 2px solid #EAEBED;
}

.top-offers_title {
    font-size: 14px;
    color: #515151;
    font-weight: 600;
}

.top-offers_list {
    margin-top: 16px;
    border: 1px solid #EAEBED;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.top-offer_container {
    display: flex;
    gap: 16px;
}

.top-offer_icon {
    background-color: #edeef2;
    padding: 8px;
    display: flex;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    align-items: center;
}

.top-offers_list hr {
    border-width: 1px;
    margin: 0;
}

.top-offer_description {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.top-offer_description h3 {
    font-size: 14px;
}

.top-offer_description p {
    font-size: 12px;
    color: #515151;
}

.top-offer_icon svg {
    width: 24px;
    height: 24px;
}

.continue-container {
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    left: 50%;
    transform: translate(-50%);
    padding: 16px;
    width: 100%;
    display: none;
}